.project-info-div {
    padding-top: 15px;
    width: 100%;
}

.project-view-content {
    margin: 0 2em 0 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sequencer-div {
    margin: 1em 0;
    background-color: rgb(233, 233, 233);
    border: 1px solid rgb(207, 207, 207);
    box-shadow: 0px 10px 90px rgba(80, 80, 80, 0.2);
    width: 90%;
    display: flex;
    flex-direction: column;
}

.sequencer-channel {
    display: flex;
    align-items: center;
    padding: 1em;
    border-bottom: 1px solid rgb(179, 179, 179);
}

.sequencer-channel--cell {
    flex: 1;
    padding: 0 1em;
}

.sequencer-channel--notes {
    flex: 8;
    padding: 0 1em;
}

.channel-cell--name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.channel-cell--name--buttons {
    display: flex;
    padding: 1px;
    flex-wrap: wrap;
}

.selected-channel {
    background: rgba(171, 205, 239, 0.3);
}

.sequencer-cell--inactive {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

.sequencer-cell--inactive:hover {
    box-shadow: inset 1px 1px 1px 0px rgb(214, 214, 214) !important;
}

.sequencer-cell--active {
    cursor: pointer;
    background-color: rgb(172, 172, 172);
    box-shadow: inset 2px 2px 2px 0px rgb(189, 189, 189),
        inset -2px -2px 2px 0px rgb(153, 153, 153) !important;
}
.sequencer-cell--active:hover {
    box-shadow: inset -2px -2px 2px 0px rgb(189, 189, 189),
        inset 2px 2px 2px 0px rgb(153, 153, 153) !important;
}

.sequencer-cell--playing {
    background-color: #959cff;
    box-shadow: inset 0 0 15px 1px rgb(102, 112, 255) !important;
}

.ins-control-div {
    padding: 2em 5em;
    margin-bottom: 1em;
    width: 80%;
}

.instrument-control-slider {
    padding: 0 3px;
    min-width: 15em;
}

.channel-button {
    display: flex;
    flex-direction: column;
    justify-content: center;

    cursor: pointer;
    height: 22px;
    width: 22px;

    font-weight: 600;
    font-size: 12px;
    background-color: rgb(172, 172, 172);
    box-shadow: inset 1px 1px 2px 0px rgb(189, 189, 189),
        inset -2px -2px 2px 0px rgb(153, 153, 153) !important;
}

.channel-button--large {
    width: 60px;
}

.channel-button:hover {
    box-shadow: inset -1px -1px 2px 0px rgb(189, 189, 189),
        inset 2px 2px 2px 0px rgb(153, 153, 153) !important;
}

.channel-button:active {
    background-color: rgb(134, 134, 134);
}

.channel-button--active {
    color: white;
    background-color: rgb(66, 66, 66);
    box-shadow: inset -1px -1px 2px 0px rgb(94, 94, 94),
        inset 2px 2px 2px 0px rgb(46, 46, 46) !important;
}

.channel-button--active:hover {
    box-shadow: inset 1px 1px 2px 0px rgb(94, 94, 94),
        inset -2px -2px 2px 0px rgb(46, 46, 46) !important;
}

.channel-button--active:active {
    background-color: rgb(78, 78, 78);
}
