body {
    margin: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Montserrat",
        "Helvetica Neue", sans-serif; */
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: #ffff;
}

/* Overwrite Semantic */
.ui.modal {
    border-radius: 0 !important;
}

.ui.header {
    font-family: "Montserrat", sans-serif;
}

.ui.modal > .header {
    font-family: "Montserrat", sans-serif;
}

.ui.list .list > .item .header,
.ui.list > .item .header {
    font-family: "Montserrat", sans-serif;
}

/* Fix small list items on top and bottom of list */
.ui[class*="very relaxed"].list:not(.horizontal) > .item:not(:last-child) {
    padding-top: 0.85714286em;
}
.ui[class*="very relaxed"].list:not(.horizontal) > .item:not(:first-child) {
    padding-bottom: 0.85714286em;
}

.ui.button {
    border-radius: 0 !important;
    font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Montserrat", sans-serif;
}

#root {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.fill-page {
    height: 100%;
}

.main-container {
    display: flex;
    flex-direction: column;
    /* background-color: linen; */
    height: 100%;
    text-align: center;
}

.project-view-div {
    background: rgba(171, 205, 239, 0.3);
    margin: 20px;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
}

.project-view-div h1 {
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4);
}

.project-info-div {
    padding-top: 15px;
}

.sequencer-div {
    display: inline-block;
    margin: 15px;
}

.ins-control-div {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    background: rgba(171, 205, 239, 0.3);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.glow {
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4);
}

.close-btn {
    display: inline-block;
    float: right;
}

.fake-close-btn {
    display: inline-block;
    float: left;
    color: rgba(0, 0, 0, 0%);
}

.close-btn:hover {
    cursor: pointer;
}
.clickable:hover {
    cursor: pointer;
}

.selectedChannel {
    /*setting alpha = 0.1*/
    background: rgba(255, 255, 255, 0.3);
}

.projects-list {
    width: 30%;
    text-align: center;
    display: inline-block;
}

.float-left {
    display: inline-block;
    float: left;
}

.form-width {
    display: inline-block;
    width: 40%;
}

.dropdown-div {
    width: 40%;
    text-align: center;
    display: inline-block;
}

.link--is-button {
    cursor: pointer;
    display: inline-block;
    padding: 1.5em 2.2em;
    border: 0;
    opacity: 1;
    font-style: normal;
    font-weight: bold;
    line-height: 1em;
    letter-spacing: 0;
    font-family: "Montserrat", sans-serif;

    font-size: 12px;
    white-space: nowrap;
    text-align: center;
    background-color: #ebebeb;
    transition: background-color 300ms cubic-bezier(0.694, 0, 0.335, 1);
}

.link--is-button:hover {
    background-color: #cccccc;
}

.link--is-button--negative {
    color: #ffffff;
    background-color: #db2828;
}
.link--is-button--negative:hover {
    background-color: rgb(255, 112, 112);
}

.fluid {
    width: 100%;
}

.new-project-form-container {
    margin: 1em;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-project-form {
    width: 20%;
}

/* ---------old login stuff (too fun to fully remove...)----------- */

.login-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-btn {
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.1);
}

.color-beam {
    width: 101%;
    height: 70px;
    position: absolute;
    opacity: 0;
    z-index: -1;
    transition: 1s ease-in-out;
}

.purple {
    background: rgb(255, 0, 246);
    background: radial-gradient(
        circle,
        rgba(255, 0, 246, 1) 0%,
        rgba(75, 0, 130, 0) 100%
    );
}
.yellow {
    background: rgb(224, 255, 79);
    background: radial-gradient(
        circle,
        rgba(224, 255, 79, 1) 0%,
        rgba(75, 0, 130, 0) 100%
    );
}
.green {
    background: rgb(0, 255, 191);
    background: radial-gradient(
        circle,
        rgba(0, 255, 191, 1) 0%,
        rgba(75, 0, 130, 0) 100%
    );
}
.blue {
    background: rgb(0, 191, 255);
    background: radial-gradient(
        circle,
        rgba(0, 191, 255, 1) 0%,
        rgba(75, 0, 130, 0) 100%
    );
}

.login-btn:hover ~ .color-beam {
    box-shadow: 0px 0px 0px 1vw rgb(0, 155, 255), 0px 0px 0px 3vw #ff00f6,
        0px 0px 0px 6vw #e0ff4f, 0px 0px 1px 11vw #00ffbf,
        0px 0px 0px 19vw #ff00f6, 0px 0px 30px 19vw rgba(255, 255, 255, 0.4);
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.1);
    opacity: 1;
    animation: scaleIn 4s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);
}

@keyframes scaleIn {
    from {
        transform: scale(1, 1);
        opacity: 1;
    }
    to {
        transform: scale(10, 3);
        opacity: 0;
    }
}
