body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: rgb(0,191,255);
  background: linear-gradient(0deg, rgba(0,191,255,0.76234243697479) 0%, rgba(38,94,191,0.865983893557423) 49%, rgba(75,0,130,1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* .main-container {
  background-color: linen;
} */

.project-view-div {
  background: rgba(171, 205, 239, 0.3);
  margin: 20px;
  text-shadow: 0px 0px 10px rgba(255,255,255,.2);
  box-shadow: 0px 0px 10px rgba(255,255,255,.2);
}

.project-view-div h1{
  text-shadow: 0px 0px 10px rgba(255,255,255,.4);
}

.project-info-div {
  display: inline-block;
  margin: 10px;
}

.sequencer-div {
  display: inline-block;
  margin: 15px;
}

.ins-control-div {
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  background: rgba(171, 205, 239, 0.3);
  box-shadow: 0px 0px 10px rgba(255,255,255,.2);
  border: 1px solid rgba(255, 255, 255, .2);
}

.glow {
  text-shadow: 0px 0px 20px rgba(255,255,255,.4);
}

.close-btn {
  display: inline-block;
  float: right;
}

.fake-close-btn {
  display: inline-block;
  float: left;
  color: rgba(0,0,0,0%)
}

.close-btn:hover {
  cursor: pointer;
}
.clickable:hover {
  cursor: pointer;
}

.selectedChannel {
  /*setting alpha = 0.1*/
  background: rgba(255, 255, 255, .3);
}

.projects-list {
  width: 30%;
  text-align: center;
  display: inline-block;
}

.float-left {
  display: inline-block;
  float: left;
}

.form-width {
  display: inline-block;
  width: 40%;
}

.dropdown-div {
  width: 40%;
  text-align: center;
  display: inline-block;
}

/* ---------navbar stuff----------- */

.navbar {
  text-align: center;
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf  100%);
  border: 1px solid rgba(255, 255, 255, .2);
  padding-bottom: 10px;
  padding: 10px;
  position: relative;
}

.main-nav {
    list-style-type: none;
}

.nav-links,
.logo {
  display: inline-block;
  cursor: pointer;
  color: rgba(255,255,255,0.8);
  font-size: 20px;
}

.nav-title {
  display: inline-block;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

.blank-div {
  display: inline-block;
  color: rgba(255,255,255,0.8);
  font-size: 20px;
  text-align: left;

  width: 10%;
  float: left;

  /* top: 50%; left: 50%; */
  transform: translate(20%,20%);
}

.navbar-links {
  display: inline-block;
  cursor: pointer;
  color: rgba(255,255,255,0.8);
  font-size: 20px;
  text-align: right;

  width: 10%;
  float: right;

  /* top: 50%; left: 50%; */
  transform: translate(-20%,20%);

}

.in-line {
  display: inline;
}
